AudiR8/.vs/
AudiR8/bin/
AudiR8/AudiR8.sln
AudiR8/AudiR8/AudiR8.vcxproj
AudiR8/AudiR8/AudiR8.vcxproj.filters
AudiR8/AudiR8/AudiR8.vcxproj.user
Cubemap/.vs/
Cubemap/bin/
Cubemap/Cubemap.sln
Cubemap/Cubemap/Cubemap.vcxproj
Cubemap/Cubemap/Cubemap.vcxproj.filters
Cubemap/Cubemap/Cubemap.vcxproj.user
Normalmapping/.vs/
Normalmapping/bin/
Normalmapping/Normalmapping.sln
Normalmapping/Normalmapping/Normalmapping.vcxproj
Normalmapping/Normalmapping/Normalmapping.vcxproj.filters
Normalmapping/Normalmapping/Normalmapping.vcxproj.user
Shadowmapping/.vs/
Shadowmapping/bin/
Shadowmapping/Shadowmapping.sln
Shadowmapping/Shadowmapping/Shadowmapping.vcxproj
Shadowmapping/Shadowmapping/Shadowmapping.vcxproj.filters
Shadowmapping/Shadowmapping/Shadowmapping.vcxproj.user
Shadowmapping/Shadowmapping/model/Dragon_highres.obj
Prophet/.vs/
Prophet/bin/
Prophet/Prophet.sln
Prophet/Prophet/Prophet.vcxproj
Prophet/Prophet/Prophet.vcxproj.filters
Prophet/Prophet/Prophet.vcxproj.user
RayTracer/.vs/
RayTracer/bin/
RayTracer/RayTracer.sln
RayTracer/RayTracer/RayTracer.vcxproj
RayTracer/RayTracer/RayTracer.vcxproj.filters
RayTracer/RayTracer/RayTracer.vcxproj.user
RayTracerGPU/.vs/
RayTracerGPU/bin/
RayTracerGPU/RayTracerGPU/RayTracerGPU.vcxproj
RayTracerGPU/RayTracerGPU.sln
RayTracerGPU/RayTracerGPU/RayTracerGPU.vcxproj.filters
RayTracerGPU/RayTracerGPU/RayTracerGPU.vcxproj.user
